.About{
    display: flex;
    justify-content: center;
}


.about-text:before{
    box-shadow: -20px 0 20px -20px #001f9c inset;
    content: " ";
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0;
    width: 20px;
}
.about-text{
    display: flex;
    flex-direction: column;
    /* padding-left:10%;
    padding-right:10%; */
    
    font-size:large;
    font-family: Comfortaa;
    line-height: 25px;
    /* box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.39);
    clip-path: inset(0px -15px 0px 0px); */
}

.about-text p {
    /* padding-left:300px;
    padding-right:300px; */
    width:40vw;
    padding: 1%;
    text-align: left;
    
}


.About .ant-image{
    height: 30vh;
    width: auto;
    top: 15vh;
}
.About .ant-image-img{
    height: 30vh;
    width: auto;
}

.about-image1{
    position: relative;
    padding-right: 40px;
    top: 10vh;
}

.about-image2{
    position: relative;
    padding-left: 10px;
    top: 15vh;
}