body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Comfortaa', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;


  overflow-y: scroll;
}

#root{
  overflow-x: clip; /* overflow hidden that will work with sticky elements */
  /* overflow-y: scroll; */
}

/* body::-webkit-scrollbar { hide scrollbar for Chrome, Safari, Opera */
  /* display:none; */
/* } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
